<suite name="Regression" parallel="none">
<listeners>
<listener class-name="com.aventstack.extentreports.testng.listener.ExtentITestListenerClassAdapter"></listener>
</listeners>
  
     <test name="MyTest">
        <classes>
            <class name="com.pb.ctest.helper.RunCucumberTest" />
        </classes>
    </test>
</suite>